[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
lower_case_table_names=2
# use ssl server
#ssl-ca=/var/lib/mysql/ca.pem
#ssl-cert=/var/lib/mysql/server-cert.pem
#ssl-key=/var/lib/mysql/server-key.pem
#require_secure_transport=ON


[client]
default-character-set=utf8mb4
# use ssl client
#ssl-ca=/var/lib/mysql/ca.pem
#ssl-cert=/var/lib/mysql/client-cert.pem
#ssl-key=/var/lib/mysql/client-key.pem